<!DOCTTYPE html>
<html>
<head>
{{>header}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div style="background-image: url('http://s1.picswalls.com/wallpapers/2015/12/12/beautiful-photos_124417252_294.jpg');">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "raw">
<div class="col-md-6"><div class = "his"><strong> REQUEST SENT SUCCESSFULLY    s</strong></div></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h3>{{description}}</h3>
</body>

</html>